@model IEnumerable<WebApplication1.ViewModel.ThongKeViewModel>
@{
    ViewBag.Title = "Thống kê";
    var listThongKe = Model;
}

<h2>Thống kê kết quả học sinh</h2>
@if (listThongKe.Count() > 0)
{
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <tr class="table__title">
                    <th colspan="2">Thông tin</th>
                    <th colspan="2">Học kỳ 1</th>
                    <th colspan="2">Học kỳ 2</th>
                    <th colspan="2">Học kỳ 3</th>
                    <th colspan="2">Học kỳ 4</th>
                </tr>
                <tr class="table--title">
                    <th>Mã học sinh</th>
                    <th>Tên học sinh</th>
                    @for (int j = 1; j <= 4; j++)
                    {
                        <th>Điểm</th>
                        <th>Xếp Loại</th>

                    }
                </tr>
                @foreach (var item in listThongKe)
                {
                    <tr>
                        <td>@item.MaSV</td>
                        <td>@item.TenSV</td>
                        <td>@item.DiemHK1</td>
                        <td>@item.XepLoaiHK1</td>
                        <td>@item.DiemHK2</td>
                        <td>@item.XepLoaiHK2</td>
                        <td>@item.DiemHK3</td>
                        <td>@item.XepLoaiHK3</td>
                        <td>@item.DiemHK4</td>
                        <td>@item.XepLoaiHK4</td>
                    </tr>
                }
            </table>
        </div>
    </div>

}
else
{
    <span class="alert alert-info">chưa có dữ liệu</span>
}

<style>
    .table__title th {
        text-align: center;
        font-weight: 700;
    }

    .table__title {
        background-color: #222222;
        color: #fff;
    }

    .table--title {
        color: red;
    }
</style>